<?xml version="1.0" ?>
<robot name="box" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find box_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find box_description)/urdf/box.trans" />
  <xacro:include filename="$(find box_description)/urdf/box.gazebo" />
  <link name="base_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="5"/>
      <inertia ixx="0.0679" iyy="0.0679" izz="0.075" ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.27"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.27"/>
      </geometry>
    </collision>
  </link>

</robot>
